<launch>
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom"
    args="0.0 0.0 0.0 0 0.0 0.0 /map /odom 10" />

    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_livox_frame"
    args="0.0 0.0 0.5 0 0.0 0.0 /base_footprint /livox_frame 10" />

    <param name="/use_sim_time" value="true"/>
    <!-- 设置地图的配置文件 -->
    <arg name="map" default="rmuc_map_draw.yaml" />

    <!-- 运行地图服务器，并且加载设置的地图-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find rm_navigation)/map/$(arg map)">
        <param name="frame_id" value="map" />
    </node>

    <!-- 启动AMCwL节点 -->
    <!-- <include file="$(find rm_navigation)/Sim_launch/amcl_sim.launch" /> -->

    <!-- <include file="$(find scan2map)/launch/icp_localization.launch" /> -->
    
    <!-- 运行move_base节点 -->

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find rm_navigation)/config/move_base_sim/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find rm_navigation)/config/move_base_sim/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rm_navigation)/config/move_base_sim/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rm_navigation)/config/move_base_sim/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find rm_navigation)/config/move_base_sim/teb_local_planner_params.yaml" command="load" />
        
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <!-- <param name="controller_frequency" value="3.0"/> -->
        <!-- <param name="controller_patiente" value="5.0"/> -->
        <param name="planner_frequency" value="3.0" />
        <param name="planner_patience" value="5.0" />
        <param name="use_dijkstra" value="false" />

        <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="10.0" />
		<param name="controller_patience" value="15.0" /> -->

        <param name="clearing_rotation_allowed" value="false" />
        <!-- <remap from="/cmd_vel" to="/" /> -->
    </node>

    <!-- 启动robot_urdf -->
    <!-- <include file="$(find rm_navigation)/pc_launch/robot_urdf.launch" /> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rm_navigation)/config/rviz/sim_ares.rviz" /> 


    
</launch>