<?xml version="1.0"?>

<launch>
    <arg name="PCD_directory" default="$(find rm_bringup)/PCD/" />
    <!-- <arg name="PCD_name" default="RMUC" /> -->

    <arg name="PCD_name" default="scans" />
    <arg name="file_name" value="base11" />

    <node pkg="pcd2pgm" name="pcd2topic" type="pcd2topic" output="screen" >
        <param name="file_directory" value="$(arg PCD_directory)" />
        <param name="file_name" value="$(arg PCD_name)" />
        <!-- 直通滤波 -->
        <param name="thre_z_min" type="double" value="-0.01" />
        <param name="thre_z_max" type="double" value="0.1" />
        <!-- 半径滤波 -->
        <param name="radious" type="double" value="0.5" />
        <param name="thre_count" type="double" value="50" />
        <!-- 向量法 -->
        <param name="vector_open" type="bool" value="false" />
        <!-- <param name="vector_open" type="bool" value="true" /> -->
    </node>



    <arg name="file_path" value="$(find rm_bringup)/map/$(arg file_name)" />
    <node pkg="map_server" name="map_save" type="map_saver" args="-f $(arg file_path)" output="screen" />
        

</launch>